# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# IDE-specific files
.idea/
.classpath
.project
.settings/

# Maven artifacts
target/
!.mvn/wrapper/maven-wrapper.jar

# intellijModule
*.iml

# Log files
*.log

# OS-specific files
.DS_Store
./src/main/resources/*